<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Interno</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@400;600&display=swap"
      rel="stylesheet">
   <link rel="stylesheet" href="./normalize.css">
   <link rel="stylesheet" href="./style.css">
</head>

<body>
   <!--  -->
   <div class="outer-shell">

      <header class="header">
         <div class="header__content center">

            <div class="header__logo">
               <a href="./index.html">
                  <img src="./img/home/logo.svg" alt="Logo-icon" class="header__logo_img">
               </a>
            </div>

            <nav class="header__nav">
               <a href="./index.html" class="nav__item">Home</a>
               <a href="#" class="nav__item">Project</a>
               <a href="./blog.html" class="nav__item">Blog</a>
            </nav>

         </div>
      </header>

      <article class="blog-details-face">
         <div class="blog-details-face__content">
         </div>
      </article>

      <main class="details__main">
         <div class="details__content" id="ample">
            <section class="details__blogs">
               <!-- Should show the first blog of the filtered list -->
               <blog-details v-bind:ample="filteredBlogs"></blog-details>

               <div class="blogs__quote">
                  <p>,,</p>
                  <!-- <p>“</p> -->
                  <p>The details are not the details.
                     <br>They make the design.
                  </p>
               </div>

               <div class="blogs__short">
                  <h2 class="short__title">Design sprints are great</h2>
                  <p class="short__text_start">
                     Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae turpmaximus.posuere in.Contrary to
                     popular
                     belief.There are
                     many variations of passages of Lorem Ipsum available, but the majority have suffered.
                  </p>
                  <!-- Should be filtered -->
                  <ol class="short__blogs">
                     <blog v-for="blog in filteredBlogs" v-bind:short="blog" v-bind:key="blog.id"></blog>
                  </ol>
                  <div class="short__image">
                     <img src="./img/blog-details/blogs-short.png" alt="Photo">
                  </div>
                  <p class="short__text_end">Lorem ipsum dolor sit amet, adipiscing Aliquam eu sem vitae
                     turpmaximus.posuere in.Contrary to popular
                     belief.There are
                     many variations of passages of Lorem Ipsum available, but the majority have suffered.</p>
               </div>
               <!-- <p>{{filteredBlogs}}</p> -->
            </section>

            <section class="details__tags">
               <h3 class="tags__title">Tags</h3>
               <!-- Should trace the choice -->
               <div class="tags__items" id="maintags">

                  <tags-menu v-for="item in tagsArray" v-bind:tags="item" v-bind:key="item.id"
                     v-bind:class="item.activated" @activate-it="chooseTag(item.id)"></tags-menu>

               </div>
            </section>

         </div>
      </main>

      <footer class="footer">
         <div class="footer__content">
            <div class="footer__logo">
               <a href="./index.html">
                  <img src="./img/home/logo.svg" alt="Logo-icon" class="header__logo_img">
               </a>
               <p>It is a long established fact that a reader will be distracted lookings.</p>
               <div class="footer__socials">
                  <img class="footer__icon" src="./img/home/twitter .svg" alt="Twitter Icon">
                  <img class="footer__icon" src="./img/home/linkedin.svg" alt="Linked In Icon">
               </div>
            </div>
            <nav class="footer__nav">
               <h3 class="footer__subheader">Pages</h3>
               <a href="./index.html" class="nav__item">Home</a>
               <a href="#" class="nav__item">Project</a>
               <a href="./blog.html" class="nav__item">Blog</a>
            </nav>
            <div class="footer__contact">
               <h3 class="footer__subheader contact">Contact</h3>
               <p class="address">55 East Birchwood Ave. Brooklyn, New York 11201</p>
               <p class="email">contact@interno.com</p>
               <p class="phone">(123) 456 - 7890</p>

            </div>
         </div>
      </footer>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
   <script type="module" src="./modules/blogdetails.js"></script>
</body>

</html>